<li class="comment"><%=h link_to(comment.user.username, comment.user) %>: <%=h comment.comment %></li>
<% if current_user and (current_user.id == comment.user_id or current_user.login == "murtazajafferji") %>
  <%= link_to 'Delete', {:controller => "comments", :action => "destroy", :id => comment}, :confirm => "Are you sure?", :method => :delete %>
<% end %>