<li class="comment"><%=h comment.user.name %>: <%=h comment.comment %></li>
<% if current_user.id == comment.user_id %>
  <%= link_to 'Delete', {:controller => "comments", :action => "destroy", :id => comment}, :confirm => "Are you sure?", :method => :delete %>
<% end %>