<div class="comment-box">
  <%= render :partial => 'comments/comments', :collection => comments, :as => :comment %>
  <%= render :partial => 'comments/form', :locals => {:definition => definition} %>
</div>