/*
HTTP Host: static.ak.fbcdn.net
Generated: October 18th 2010 5:37:24 PM PDT
Machine: 10.30.147.194
*/

.spritemap_2pbdzb{background-image:url(http://b.static.ak.fbcdn.net/rsrc.php/zd/r/OB2ybo0PYvA.png);_background-image:url(http://b.static.ak.fbcdn.net/rsrc.php/zx/r/tzSCPBae_HO.gif);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_289572{background-position:-0px -0px}
.sx_b1cbe6{width:5px;background-position:-5px -15px}
.selected .sx_b1cbe6{background-position:-0px -15px}

#bootloader_css_sprite_autogen_2pbdzb_css { height: 42px; }