html, body {
  background-color: #176093;
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
  font-weight: bold;
}

h1 {
  color: #eeefac;
}

a {
  color: #e1ccb5;
  text-decoration: none;
}

#container {
}

#logo {
  float: left;
  display: block;
  width: 209px;
  height: 48px;
  margin-top: 0;
  margin-left: 20px;
}

#logo a {
	display: block;
  width: 209px;
  height: 48px;
  text-indent: -9999em;
  overflow: hidden;
  background-image: url(../images/logo.png);
  border: none;
}

#top-bar {
  background-color: #11466b;
  padding: 7px 12px;
}

#top-bar ul {
  display: inline;
}

#top-bar li {
  display: inline;
  padding: 0 7px;
}

#top-bar li a {
  border-bottom: none;
}

#user-nav {
  float: right;
}

#header {
  width: 570px;
  margin: 40px auto;
  height: 48px;
}

#search {
  float: right;
  padding-top: 6px;
}

#search input {
  font-size: 20px;
  width: 280px;
  padding: 6px 40px 6px 6px;
  background: #fff url(../images/search.gif) 290px 4px no-repeat;
}

#main {
  clear: both;
  width: 1100px;
  margin: 0 auto;
}

#sidebar {
  width: 200px;
  float: left;
  color: #abcdcf;
}

  #sidebar .section {
    margin-bottom: 1em;
  }
  
#sidebar-nav {
  
}

#sidebar-nav li {
  margin-bottom: 5px;
  text-align: right;
}

#sidebar-nav li a {
  display: block;
  padding: 6px 10px;
  background-color: #aec8d9;
  color: black;
  border-radius: 4px;
  font-weight: bold;
}

#ads {
  width: 160px;
  float: right;
  color: #abcdcf;
}

#content { 
  width: 660px;
  margin-left: 240px;
}

#notice {
  text-align: center;
  color: #a2bfd4;
}

#new_word {
}

.result {
  list-style: none;
}

.word {
  font-size: 32px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #dce7ef;
  border-bottom: none;
}

  #user-definitions .word, .definition .word {
    font-size: 20px;
  }

  .word:hover {
    color: #8bb0c9;
  }

.definitions {
  margin: .4em 0;
  padding: 0;
}

.definition {
  margin-left: 15px;
  margin-bottom: 1em;
  list-style: decimal; 
  font-size: 16px;
}

  .definition p a {
    color: white;
  }

#user-definitions .definition {
  margin-left: 0;
  font-size: 14px;
}

.definition .body {
  line-height: 20px;
}

.definition .byline {
  font-size
}

.part-of-speech {
  color: #ABCDCF;
}

#new_word {
  display: inline;
}

.definition-comment-form {
  font-size: 12px;
}

  .definition-comment-form input {
    background-color: #06548a;
    border: solid 1px #054674;
    color: white;
  }
  
  .definition-comment-form input[type=submit] {
    background-color: #06548a;
    border: solid 1px #054674;
  }

.definition-form {
  margin-left: 15px;
}

.definition-form textarea {
  display: block;
  width: 340px;
}

.definition-form select {
  display: block;
  float: left;
  width: 120px;
}

.definition-form input[type=submit] {
  width: 80px;
  margin-left: 148px;
}

#like-buttons {
  float: left;
  margin-top: 7px;
  margin-right: 15px;
}

#like-buttons li {
  display: inline-block;
}

#like-buttons li a {
  text-indent: -9999em;
  overflow: hidden;
  font-size: 12px;
  display: inline-block;
  border-bottom: none;
  width: 24px;
  height: 24px;
  background: url(../images/thumbs.gif);
}

#like-buttons li.like-button a          {background-position: 0px 24px;}
#like-buttons li.dislike-button a       {background-position: 24px 24px;}
#like-buttons li.voted.like-button a    {background-position: 0px 0px;}
#like-buttons li.voted.dislike-button a {background-position: 24px 0px;}

.meta a {
  text-decoration: underline;
}

.meta .voted a {
  background-color: black;
}

.tools {
  display: block;
}

.votes {
  display: inline;
}

.votes span {
  font-weight: bold;
}

.meta {
  color: #a2bfd4;
  display: block;
  margin-top: 5px;
  margin-left: 68px;
  font-size: 12px;
  line-height: 18px;
}

  .meta li {
    display: inline;
  }


.comment-box-toggle {
  text-decoration: underline;
  font-size: 12px;
}

.comments {
  font-size: 12px;
  margin-left: 68px;
}

.comments .title {
  font-weight: bold;
}

form p {
  margin-bottom: 1em;
}

label {
  font-weight: bold;
}

input, textarea {
  border: none;
  padding: 4px;
  border-radius: 3px;
}

input[type=submit] {
  padding: 5px 10px;
  background-color: #ddd;
  border: solid 1px #666;
}

#footer {
  clear: both;
  margin: 1em;
  text-align: center;
}


.left {
  width: 50%;
  float: left;
}

.right {
  margin-left: 51%;
}


/* Mobile CSS */
@media screen and (max-width: 480px) {
  
  #logo {
    float: none;
    margin: 0 auto;
  }
  
  #logo a {
  }
  
  #search {
    float: none;
    margin-left: 0;
    padding: 0;
    text-align: center;
  }
  
  #header {
    width: auto;
  }
  
  #main {
    margin-left: 0;
    padding: 20px;
    width: auto;
  }
  
  #top-bar {
    font-size: 12px;
  }
  
  h1 {
  }

  #sidebar {
    display: none;
  }
  
  #content {
    margin-left: 0;
    width: auto;
  }
}