/*
Definitious screen stylesheet

Colors:
  blues (from dark to light):
    #0e3b5a  #104467  #13517a  #176092
  vanilla:
    #fffeb3
*/
body, html {
  background-color: #104467;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #b1d4ed;
}

h2 {
  font-size: 24px;
  font-family: Georgia, "Times New Roman", serif;
  margin-bottom: 15px;
  text-align: center;
}

h2.word {
  font-size: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  text-align: center;
  font-style: italic;
  border-bottom: dashed 1px #77a1a0;
}

h3 {
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

h4 {
  color: #fffeb3;
  font-size: 32px;
  text-align: center;
  font-family: Georgia, "Times New Roman", serif;
  font-weight:normal;
  margin-bottom:15px;
}

.word {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

.did-you-mean {
/*  color: #CC0000;*/
  color: #FF0000;
  font-size: medium;
  font-weight: normal;
  font-family: arial,sans-serif;
}

.did-you-mean a{
  color: #2200C1 !important;
  font-size: medium;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  font-family: arial,sans-serif;
}

.search-result {
  text-align: center;
  color: #fffeb3;
  font-size: 16px;
}

.make-room-for-external-search {
	height: 100px;
}

.external-results {
  text-align: center;
  color: #b1d4ed;
  font-size: 14px;
  clear: both;
}

.external-results-sidebar{
/*  text-align: left;
  color: #b1d4ed;
  top: 80px;
  left: 10px;
  position: absolute;*/
  padding-top: 15px;
}

.external-results a{
  color: white !important;
}

.external-results table{
  text-align: left;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.external-results-sidebar table{
  margin-left: ;
  margin-right: ;
}

a {
  text-decoration: none;
  color: #cbd7e0;
}

#topbar {
  background-color: #0e3b5a;
  height: 36px;
  font-size: 11px;
  width: 100%;
}

#topbar a {
  font-weight: bold;
}

#topbar a:hover {
  background-color: #176092;
}

#topbar ul {
  
}

#topbar li {
  float: left;
}

#topbar li a {
  display: block;
  padding: 9px 5px;
  border: solid #214a67;
  border-width: 0px;
}
  
#homebutton a {
  text-indent: -9999em;
  overflow: hidden;
  width: 19px;
  background: url(../images/d.png) center 4px no-repeat;
}  

#usernav {
  float: right;
}

#usernav li a {border-left-width: 1px;}
#topnav li a {border-right-width: 1px;}

#container {
  width: 100%;
}

#header {
  margin: 10px auto;
  padding: 20px 20px 0px 20px;
}

#logo {
  margin: 0 auto;
  text-align: center;
  display: block;
}

#logo a {
  margin: 0 auto;
  display: block;
  overflow: hidden;
  text-indent: -9999em;
  background: url(../images/logo.png) no-repeat;
  width: 190px;
  height: 35px;
  padding-bottom: 5px;
}

#logo a:hover {
  /*background: url(../images/logo.gif) no-repeat;*/
  background: url(../images/animated-logo.png) no-repeat;
  height: 40px;
  padding-bottom: 0px;
}

/*#search {
  display: block;
  margin: 10px auto;
  text-align: right;
  font-size: 18px;
}

#search input {
  display: block;
  padding: 8px 40px 8px 8px;
  margin: 10px auto;
  width: 210px;
  background: #fff url(../images/search.gif) 220px 5px no-repeat;
}*/

/* Search */
.search { 
	width:260px; 
	height:40px; 
	padding: 10px;
	margin-left: auto;   
	margin-right: auto
}

.search form { 
	width:260px; 
	margin:0; 
}

#word_search { 
	width:210px; 
	display:block; 
	font-size:18px; 
/*	color:#a9bac4; */
	padding:8px 38px 8px 10px; 
	float:left; 
	border:0; 
	height:19px;
    background:#f1f1f1; 
	opacity: 0.9; 
	-webkit-transition:opacity 0.3s linear; 
	border:solid 2px #a9bac4; 
/*	border:solid 5px #BBBBBB;*/
}

.search:hover { 
	opacity: 1; 
}

#word_search:hover { 
	border:solid 2px #00BFF3;
}

#word_search:focus { 
/*	color:#333; */
/*	border:solid 1px #1d2a32; */
	border:solid 2px #00BFF3;
	opacity: 1; 
	background:#fff; 
}

#searchsubmit { 
	width:20px; 
	height:20px; 
	display:block; 
	position:relative; 
	float:right; 
	right:5px; 
	top:-30px; 
}

/* User search */
.search-user { 
	float: right;
	height:29px; 
}

.search-user form { 
	width:210px; 
	margin:0; 
}

#user_search { 
	width:160px; 
	display:block; 
	font-size:14px; 
/*	color:#a9bac4; */
	padding:6px 38px 6px 10px; 
	float:left; 
	border:0; 
	height:18px;
    background:#f1f1f1; 
	opacity: 0.9; 
	-webkit-transition:opacity 0.3s linear; 
	border:solid 2px #a9bac4; 
/*	border:solid 5px #BBBBBB;*/
}

.search-user:hover { 
	opacity: 1; 
}

#user_search:hover { 
	border:solid 2px #00BFF3;
}

#user_search:focus { 
/*	color:#333; */
/*	border:solid 1px #1d2a32; */
	border:solid 2px #00BFF3;
	opacity: 1; 
	background:#fff; 
}

#searchsubmit-user { 
	width:16px; 
	height:16px; 
	display:block; 
	position:relative; 
	float:right; 
	right:5px; 
	top:-26px; 
}

/*#user-search {
  float: right;
  padding: 0px 0px 0px 3px;
}

#user-search input {
  font-size: 14px;
  width: 160px;
  padding: 3px 40px 3px 6px;
  background: #fff url(../images/search.gif) 170px 0px no-repeat;
}*/

#sidebar {
  height: 30px;
}

#sidebar li {
  margin-bottom: 4px;
  float: left;
  width: 33%;
  text-align: center;
}

#sidebar li a {
  font-size: 11px;
  text-transform: uppercase;
}

#sidebar li a:hover {
  background-color: #176092;
}

#sidebar .section {
  display: none;
}

#sidebar h3 {
  font-weight: bold;
}

#sidebar p {
  margin-bottom: 8px;
}

#notice .message {
  background-color: #0e3b5a;
  padding: 20px;
  display: block;
}

#main {
  border-top: solid 4px #13517a;
  background-color: #176092;
  padding: 20px;
}

#main a {
  color: #fffeb3;
}

#main a:hover {
  text-decoration: underline;
}

#sorter {
  text-align: center;
  font-size: 12px;
  margin: 10px 0;
  line-height: 20px;
}

#definitions {
  padding-top: 20px;
}

.definition {
  margin: 20px 0;
  line-height: 18px;
}

#definitions .definition {
  margin: 0px -20px;
  padding: 0px 20px 40px 20px;
  background: url(../images/shadow.png) bottom center no-repeat;
}

.thumbs {
  float: left;
}

.thumbs li {
  display: inline-block;
}

.thumbs li a {
  text-indent: -9999em;
  overflow: hidden;
  font-size: 12px;
  display: inline-block;
  border-bottom: none;
  width: 24px;
  height: 24px;
  background: url(../images/thumbs.gif);
}

.thumbs li.like-button a          {background-position: 0px 24px;}
.thumbs li.dislike-button a       {background-position: 24px 24px;}
.thumbs li.voted.like-button a    {background-position: 0px 0px;}
.thumbs li.voted.dislike-button a {background-position: 24px 0px;}

.definition-content {
  margin-left: 60px;
}

.index, .body {
  color: #fff;
}

.body {
  font-weight: bold;
}

  #main .body a {
      color: white;
  }

.byline {
  float: right;
}

.meta {
  font-size: 11px;
  color: #a1b0bb;
}

.meta .voted a {
  font-weight: bold;
  background-color: #176092;
}

.detailed-stats div {
  padding: 5px;
  border: solid 2px #13517a;
  background-color: #13517a;
}

.points {
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #dce7ef;
  border-bottom: none;
}

.one-fourty{
  margin:10px 10px 0px 0px;
  padding:0px;
  width:40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:22px;
  font-weight:bold;
  color:#D6D6D6;
}
 
.one-fourty-orange{
  margin:10px 10px 0px 0px;
  padding:0px;
  width:40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:22px;
  font-weight:bold;
  color:#990000;
}
 
.one-fourty-red{
  margin:10px 10px 0px 0px;
  padding:0px;
  width:40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:22px;
  font-weight:bold;
  color:#FF0000;
}

#define-form table{
  margin-left: auto;
  margin-right: auto;
}

#define {
  margin: 10px auto;
  padding-right: 10px;
}

#define textarea {
  padding: 10px;
  font-size: 12px;
  display: block;
}

#define select {
  padding: 5px;
  font-size: 16px;
}

#define input {
  font-size: 16px;
  float: right;
}

#login-definitious, #register-definitious {
  float: left;
  width: 250px;
}

#login-facebook, #register-facebook {
  padding-top: 1px;100%
  margin-left: 260px;
}

#login-definitious h3, #register-definitious h3, #login-facebook h3, #register-facebook h3 {
  font-size: 14px;
}


#ads {
  display: none;
}

#footer {
  clear: both;
  padding: 20px 0;
  font-size: 12px;
  width: 100%;
}

#info{
  text-align: center;
}

#info a{
  font-weight: bold;
}

#info ul {
  
}

#info li {
  display: inline;
  padding: 0 7px;
}

.info {
  font-size: 14px;
  color: white;
}
.info li {
  list-style-type: decimal;
}

.info ol {
  margin-left: 2.5em; 
  padding-left: 0;
}

.info p {
  margin: 10px 0;
}

#konami_code_game{
	text-align: center;
}

#hangman {
  display: block;
  text-align: center;
}

#hangman .mystery-word input{
  color: white;
  background: none;
  border: none;
  font-size: 24px;
  text-align: center;
}

#hangman .gallows textarea{
  color: white;
  font-style: bold;
  background: none;
  border: none;
  font-size: 32px;
  float: center; 
  margin: 0; 
  padding: 0;
  border-width: 0;
  overflow: hidden;
}

#scramble {
}

#scramble .game{
	float: right;
}
#scramble .game-grid td{
	padding: 15px; 
}
#scramble .list{
	float: right;
	padding-left: 10px;
}

#scramble .list{
	float: right;
}
#scramble .buttons{
clear: right;
}
#scramble .top{
}
#scramble textarea{
	color: white;
	background: none;
	border: none;
	/*overflow: hidden;*/
}


#i18n {
  text-align: center;
}

#i18n a {
  font-weight: bold;
  border-bottom: dotted 1px white;
}

form p {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}