<h2>User Leaderboard</h2>

<ol class="users">
  <% count = 1 %>
  <% @users.each do |user| %>
    <li>
      <%= count.to_s + "." %> <%= link_to user.username, user %> - <%= pluralize(user.points, "point") %>
    </li>
  <% count += 1 %>
  <% end %>
</ol>