<div class="meta">
  <%= render :partial => 'definitions/votes', :locals => { :definition => definition } %>
  <% if current_user %>
    <%= render :partial => 'definitions/tools', :locals => { :definition => definition } %>
  <% else %>
    <%= link_to I18n.t("Log in to vote!"), login_path %>
  <% end %>
  <% if current_user and current_user.id == definition.user_id %>
      <%= link_to 'Delete', definition, :confirm => "Are you sure?", :method => :delete %>
  <% end %>
</div>