<div class="stats">
  <%= render :partial => 'definitions/votes', :locals => { :definition => definition } %>
  <%= render :partial => 'definitions/tools', :locals => { :definition => definition } %>
</div>