<ul class="tools">
  <li class="like-button"><%= link_to_remote I18n.t("Like"), :url => vote_definition_path(definition, :mood => :like), :method => :post %></li>
  <li class="dislike-button"><%= link_to_remote I18n.t("Dislike"), :url => vote_definition_path(definition, :mood => :dislike), :method => :post %></li>
</ul>