<ul class="votes" id="votes-definition-<%=h definition.id %>">
  <li class="like"><span><%=h definition.get_votes_by_mood(:like) %></span> likes</li>
  <li class="dislike"><span><%=h definition.get_votes_by_mood(:dislike) %></span> dislikes</li>
</ul>