<% title "Hangman" %>

<html>
<head>
<script language="JavaScript"><!--

state1 = new Array([",      +----+    \n",
				    "      |    |     \n",
				    "      |          \n",
				    "      |          \n",
				    "      |          \n",
				    "      |          \n",
				    "     ============"])

state2 = new Array([",      +----+    \n",
				    "      |    |     \n",
				    "      |    O     \n",
				    "      |    |     \n",
				    "      |          \n",
				    "      |          \n",
				    "     ============"])

state3 = new Array([",      +----+    \n",
				    "      |    |     \n",
				    "      |    O     \n",
				    "      |   /|     \n",
				    "      |          \n",
				    "      |          \n",
				    "     ============"])

state4 = new Array([",      +----+    \n",
				    "      |    |     \n",
				    "      |    O     \n",
				    "      |   /|\\   \n",
				    "      |          \n",
				    "      |          \n",
				    "     ============"])

state5 = new Array([",      +----+    \n",
				    "      |    |     \n",
				    "      |    O     \n",
				    "      |   /|\\   \n",
				    "      |     \\   \n",
				    "      |          \n",
				    "     ============"])
		
state6 = new Array([",      +----+    \n",
				    "      |    |     \n",
				    "      |    O     \n",
				    "      |   /|\\   \n",
				    "      |   / \\   \n",
				    "      |  Owned   \n",
				    "     ============"])
gallows = new Array(state1, state2, state3, state4, state5, state6)
function startAgain() {
 guesses = 0
 max = gallows.length-1
 guessed = " "
 toGuess = <% @word %>
 displayHangman()
 displayToGuess()
 displayGuessed()
}
function stayAway() {
 document.game.elements[3].focus()
 alert("Stop touching me!")
}
function displayHangman() {
 document.game.status.value=gallows[guesses]
}
function displayToGuess() {
 pattern=""
 for(i=0;i<toGuess.length;++i) {
  if(guessed.indexOf(toGuess.charAt(i)) != -1)
   pattern += (toGuess.charAt(i)+" ")
  else pattern += "_ "
 }
 document.game.toGuess.value=pattern
}
function displayGuessed() {
 document.game.guessed.value=guessed
}
function badGuess(s) {
 if(toGuess.indexOf(s) == -1) return true
 return false
}
function winner() {
 for(i=0;i<toGuess.length;++i) {
  if(guessed.indexOf(toGuess.charAt(i)) == -1) return false
 }
 return true
}
function guess(s){
 if(guessed.indexOf(s) == -1) guessed = s + guessed
 if(badGuess(s)) ++guesses
 displayHangman()
 displayToGuess()
 displayGuessed()
 if(guesses >= max){
 alert("You're dead. The word you missed was "+toGuess+".")
  startAgain()
 }
 if(winner()) {
  alert("You won!")
  startAgain()
 }
}
// --></SCRIPT>
</head>
<body>
<h2>Hangman</h2>
<form name="game">
<pre>
<textarea name="status" rows="6" cols="21"
 onfocus="stayAway()"></textarea>
</pre><P>
<input type="text" name="toGuess"
 onfocus="stayAway()"> Mystery word<br>
<input type="text" name="guessed"
 onfocus="stayAway()"> Guessed letters<br>
<p>Enter your next guess.</p>
<input type="button" value=" A " onclick="guess('A')">
<input type="button" value=" B " onclick="guess('B')">
<input type="button" value=" C " onclick="guess('C')">
<input type="button" value=" D " onclick="guess('D')">
<input type="button" value=" E " onclick="guess('E')">
<input type="button" value=" F " onclick="guess('F')">
<input type="button" value=" G " onclick="guess('G')">
<input type="button" value=" H " onclick="guess('H')">
<input type="button" value=" I " onclick="guess('I')">
<input type="button" value=" J " onclick="guess('J')">
<input type="button" value=" K " onclick="guess('K')">
<input type="button" value=" L " onclick="guess('L')">
<input type="button" value=" M " onclick="guess('M')"><p>
<input type="button" value=" N " onclick="guess('N')">
<input type="button" value=" O " onclick="guess('O')">
<input type="button" value=" P " onclick="guess('P')">
<input type="button" value=" Q " onclick="guess('Q')">
<input type="button" value=" R " onclick="guess('R')">
<input type="button" value=" S " onclick="guess('S')">
<input type="button" value=" T " onclick="guess('T')">
<input type="button" value=" U " onclick="guess('U')">
<input type="button" value=" V " onclick="guess('V')">
<input type="button" value=" W " onclick="guess('W')">
<input type="button" value=" X " onclick="guess('X')">
<input type="button" value=" Y " onclick="guess('Y')">
<input type="button" value=" Z " onclick="guess('Z')"><p>
<input type="text" onkeyup="if (this.value!='') { guess(this.value); this.value=''; }" value="Click buttons or type here" onclick="this.value='';" maxlength="1"><p>
<input type="button" name="restart" value=" Start Again " onclick="startAgain()"><p>
<script language="JavaScript"><!--
startAgain()
// --></SCRIPT>
</form>
<%= "definition - " + @word.definitions.first.body %>
</body>
</html>