<% title "Hangman" %>

<div id="hangman">
<html>
<head>
<script language="JavaScript"><!--

state0 ="      +----+     \n"+
	    "      |    |     \n"+
	    "      |          \n"+
	    "      |          \n"+
	    "      |          \n"+
	    "      |          \n"+
	    "     ==========="
state1 ="      +----+     \n"+
	    "      |    |     \n"+
	    "      |    O     \n"+
	    "      |          \n"+
	    "      |          \n"+
	    "      |          \n"+
	    "     ==========="

state2 ="      +----+     \n"+
	    "      |    |     \n"+
	    "      |    O     \n"+
	    "      |    |     \n"+
	    "      |          \n"+
	    "      |          \n"+
	    "     ==========="

state3 ="      +----+     \n"+
	    "      |    |     \n"+
	    "      |    O     \n"+
	    "      |   /|     \n"+
	    "      |          \n"+
	    "      |          \n"+
	    "     ==========="

state4 ="      +----+     \n"+
	    "      |    |     \n"+
	    "      |    O     \n"+
	    "      |   /|\\   \n"+
	    "      |          \n"+
	    "      |          \n"+
	    "     ==========="

state5 ="      +----+     \n"+
	    "      |    |     \n"+
	    "      |    O     \n"+
	    "      |   /|\\   \n"+
	    "      |     \\   \n"+
	    "      |          \n"+
	    "     ==========="
		
state6 ="      +----+     \n"+
	    "      |    |     \n"+
	    "      |    O     \n"+
	    "      |   /|\\   \n"+
	    "      |   / \\   \n"+
	    "      |  Owned   \n"+
	    "     ==========="
				
state7 ="      +----+     \n"+
	    "      |          \n"+
	    "      |  Winner  \n"+
	    "      |          \n"+
	    "      |  \\_O_/  \n"+
	    "      |    |     \n"+
	    "     =====/=\\==="
gallows = new Array(state0, state1, state2, state3, state4, state5, state6)
function startAgain() {
 guesses = 0
 max = gallows.length-1
 guessed = " "
 toGuess = <%= '"' + @word.name + '"' %>
 displayHangman()
 displayToGuess()
}
function stayAway() {
 document.game.elements[3].focus()
 alert("Stop touching me!")
}
function displayHangman() {
 if (guesses <= max){
  document.game.status.value=gallows[guesses]
 }
}
function displayToGuess() {
 pattern=""
 for(i=0;i<toGuess.length;++i) {
  if(guessed.indexOf(toGuess.charAt(i)) != -1)
   pattern += (toGuess.charAt(i)+" ")
  else pattern += "_ "
 }
 document.game.toGuess.value=pattern
}
function badGuess(s) {
 if(toGuess.indexOf(s) == -1) return true
 return false
}
function winner() {
 for(i=0;i<toGuess.length;++i) {
  if(guessed.indexOf(toGuess.charAt(i)) == -1 || guesses >= max) return false
 }
 return true
}
function guess(s){
 s = s.toLowerCase()
 if(guessed.indexOf(s) == -1){
  guessed = s + guessed
  if(badGuess(s)) ++guesses
  displayHangman()
  displayToGuess()
  if(guesses >= max){
   pattern=""
   for(i=0;i<toGuess.length;++i) {
    pattern += (toGuess.charAt(i).toUpperCase()+" ")
   }
   document.game.toGuess.value=pattern
  }
  if(winner()) {
   document.game.status.value=state7
   guesses = max
   <% current_user.add_points 10 unless current_user.nil?%>
  }
 }
}
// --></SCRIPT>
</head>
<body>
<h2>Hangman</h2>
<form name="game">
<pre>
<div class="gallows"><textarea name="status" rows="7" cols="22" onfocus="stayAway()"></textarea><div>
</pre>
<div class="mystery-word"><input type="text" name="toGuess" onfocus="stayAway()"><br></div><br>
<input type="button" id = 'q' value=" Q " onclick="style.visibility = 'hidden'; guess('q');">
<input type="button" id = 'w' value=" W " onclick="style.visibility = 'hidden'; guess('w');">
<input type="button" id = 'e' value=" E " onclick="style.visibility = 'hidden'; guess('e');">
<input type="button" id = 'r' value=" R " onclick="style.visibility = 'hidden'; guess('r');">
<input type="button" id = 't' value=" T " onclick="style.visibility = 'hidden'; guess('t');">
<input type="button" id = 'y' value=" Y " onclick="style.visibility = 'hidden'; guess('y');">
<input type="button" id = 'u' value=" U " onclick="style.visibility = 'hidden'; guess('u');">
<input type="button" id = 'i' value=" I " onclick="style.visibility = 'hidden'; guess('i');">
<input type="button" id = 'o' value=" O " onclick="style.visibility = 'hidden'; guess('o');">
<input type="button" id = 'p' value=" P " onclick="style.visibility = 'hidden'; guess('p');"><br>
&nbsp;&nbsp;
<input type="button" id = 'a' value=" A " onclick="style.visibility = 'hidden'; guess('a');">
<input type="button" id = 's' value=" S " onclick="style.visibility = 'hidden'; guess('s');">
<input type="button" id = 'd' value=" D " onclick="style.visibility = 'hidden'; guess('d');">
<input type="button" id = 'f' value=" F " onclick="style.visibility = 'hidden'; guess('f');">
<input type="button" id = 'g' value=" G " onclick="style.visibility = 'hidden'; guess('g');">
<input type="button" id = 'h' value=" H " onclick="style.visibility = 'hidden'; guess('h');">
<input type="button" id = 'j' value=" J " onclick="style.visibility = 'hidden'; guess('j');">
<input type="button" id = 'k' value=" K " onclick="style.visibility = 'hidden'; guess('k');">
<input type="button" id = 'l' value=" L " onclick="style.visibility = 'hidden'; guess('l');"><br>
&nbsp;&nbsp;&nbsp&nbsp;&nbsp;
<input type="button" id = 'z' value=" Z " onclick="style.visibility = 'hidden'; guess('z');">
<input type="button" id = 'x' value=" X " onclick="style.visibility = 'hidden'; guess('x');">
<input type="button" id = 'c' value=" C " onclick="style.visibility = 'hidden'; guess('c');">
<input type="button" id = 'v' value=" V " onclick="style.visibility = 'hidden'; guess('v');">
<input type="button" id = 'b' value=" B " onclick="style.visibility = 'hidden'; guess('b');">
<input type="button" id = 'n' value=" N " onclick="style.visibility = 'hidden'; guess('n');">
<input type="button" id = 'm' value=" M " onclick="style.visibility = 'hidden'; guess('m');"><br>
<input type="text" onkeyup="if (this.value!='') { document.getElementById(this.value.toLowerCase()).style.visibility = 'hidden'; guess(this.value);}" onkeypress="this.value='';" value="Click letters or type here" onclick="this.value='';" maxlength="1"><br>
<%= button_to " Next word ", hangman_path, :method => :get %>
<!--<input type="button" name="restart" value=" Start Over " onclick="startAgain()">-->
<script language="JavaScript"><!--
startAgain()
// --></SCRIPT>
</form>
<% @definition = @word.definitions.random %>
<%= "definition - " + @definition.body unless @definition.nil? %>
</body>
</html>
<!--TODO: add points for correct guess and refresh page after win or loss-->
</div>