<% title "Scramble" %>

<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<meta http-equiv="Pragma" content="no-cache">
<style type="text/css"><!--
.normallink a:link {  color: #1C469A; text-decoration: underline}
.normallink a:visited {  color: #1C469A; text-decoration: underline}
.normallink a:hover {  color: #1C469A; text-decoration: underline}
.normallink a:active {  color: #EA485B; text-decoration: underline}
.menulink a:link {  color: #FFFFFF; text-decoration: none}
.menulink a:visited {  color: #FFFFFF; text-decoration: none}
.menulink a:hover {  color: #FFFFFF; text-decoration: underline}
.menulink a:active {  color: #EA485B; text-decoration: none}
--></style>
</head><body onLoad="document.scramble.button.value = '    Start     '; document.scramble.list.value = ''; document.scramble.timer.value = '3:00'; GameStatus = 1;" leftmargin="0" topmargin="0" alink="#ea485b" bgcolor="#ffffff" link="#1c469a" marginheight="0" marginwidth="0" text="#000000" vlink="#1c469a">
<script language="JavaScript">

var Words = []
var CurrentWord = ""
var EncodedWord = ""
var GameStatus = 0
var GameTime = 0
var CheatWords = 0
var TimeStart = new Date()
var CheckTime = 180
var LastTile = -10
var LastTileX = -10
var LastTileY = -10
var TilesOn = ""
var TileMap = ""
var NumWords = 0
var imgoffset = 1
var LookUp = "abcdefghijklmnopqrstuvwxyz"
var Cubes = "qbzjkxhhlrdotelpcittotemaeaeeetouotonhdthossnseusctiepyifpsrovwrgrlhnrodriyprheandnneeeemaaaafsrafaisrdordlnmnneagititieaumeegyifasrccwnstuotownetilic"
var score = 0

//clears the last entered word on the board
function clearword(DoMap) {
  CurrentWord = ""
  EncodedWord = ""
  LastTile = -10
  LastTileX = -10
  LastTileY = -10
  if (DoMap) {
    for (i=0; i<TilesOn.length; i++) {
      WhichTile = LookUp.indexOf(TilesOn.charAt(i))
      if (WhichTile == -1) {
        WhichTile = i
        WhichLetter = "0"
      }
      else {
        WhichLetter = TileMap.charAt(WhichTile)
      }
      document.images[WhichTile + imgoffset].src = "/games/scramble/" + WhichLetter + "0.gif"
    }
  }
  TilesOn = ""
}

function quit(){
	document.scramble.list.value=''; 
	document.scramble.timer.value = '3:00'; 
	TilesOn = "0000000000000000000000000";
	endgame();
}

function endgame() {
  GameTime = -1
  GameStatus = 1
  clearword(1)
  document.scramble.timer.value = "Game Over "
document.scramble.button.value = "    Start     ";
  var isNS4 = (document.layers ? true : false)
  if (!isNS4) {
    document.scramble.timer.style.color = 'white'
    document.scramble.timer.style.backgroundColor = 'black'
  }
	TileMap= ""
	scoregame()
}

function buttonpress() {
  var ActingStatus = GameStatus
  if (ActingStatus == 1) {
    Words = []
    clearword()
	document.scramble.list.value="";
	document.scramble.button.value="    Pause     "
	document.scramble.timer.style.color = 'black'
	document.scramble.timer.style.backgroundColor = 'white'

    GameTime = 181
    setTimeout("countdown()", 1)
    GameStatus = 2
    TheDate = new Date()
    TimeStart = TheDate.getTime()
	
	TempCubes = Cubes;
	while (TileMap.length != 25) {
	Position = Math.floor(Math.random() * (TempCubes.length - 1));
	TileMap = TileMap + TempCubes.charAt(Position);
	Position = Math.floor(Position / 6);
	TempCubes = TempCubes.substring(0, Position * 6) + TempCubes.substring(6 + Position * 6, TempCubes.length);
	}
	for (i=0; i<25; i++) {
		WhichLetter = TileMap.charAt(i)
	      document.images[i + imgoffset].src = "/games/scramble/" + WhichLetter + "0.gif"
	}
  }


if ((ActingStatus == 2) || (ActingStatus == 3)) {
GameStatus = 4;
GameTime = GameTime * -1;
TilesOn = "0000000000000000000000000";
clearword(1);
document.scramble.button.value = "   Resume   ";
}
if (ActingStatus == 4) {
for (i=0; i<25; i++) {
	WhichLetter = TileMap.charAt(i)
      document.images[i + imgoffset].src = "/games/scramble/" + WhichLetter + "0.gif"
}
GameStatus = 2; 
setTimeout("countdown()", 1);
document.scramble.button.value="    Pause     "
   }
}

function countdown() {
  if (GameTime > -1) {
    GameTime = GameTime - 1
    if (GameTime == 10) {document.bgColor = '#FFFFFF'}
    if (GameTime == 10) {document.bgColor = '#FFFFFF'}
    Division = ":"
    if (GameTime % 60 < 10) {Division = ":0"}
    document.scramble.timer.value = "    " + Math.floor(GameTime / 60) + Division + GameTime % 60
    if (GameTime > 0) {
      setTimeout("countdown()", 1000)
    }
    else {
      endgame()
      //setTimeout("javascript:scoregame()",15000)
    }
  }
else { GameTime = GameTime * -1; }
}

function slide(TileX, TileY) {
  WhichTile = TileX * 5 + TileY
  WhichLetter = TileMap.charAt(WhichTile)
  if (GameStatus == 3) {
    if ((Math.abs(TileX - LastTileX) < 2) && (Math.abs(TileY - LastTileY) < 2)) {
      Occurence = TilesOn.indexOf(LookUp.charAt(WhichTile))
      if (Occurence == -1) {
        CurrentWord = CurrentWord + WhichLetter
        EncodedWord = EncodedWord + LookUp.charAt(WhichTile)
        if (WhichLetter == 'q') {CurrentWord = CurrentWord + "u"}
        document.images[WhichTile + imgoffset].src = "/games/scramble/" + WhichLetter + "1.gif"
        LastTile = WhichTile
        LastTileX = TileX
        LastTileY = TileY
        TilesOn = TilesOn + LookUp.charAt(WhichTile)
      }
      else {
        if ((Occurence == TilesOn.length - 2) && (document.scramble.backtrack.value == 1)) {
          RemoveTile = LookUp.indexOf(EncodedWord.charAt(EncodedWord.length - 1))
          WhichLetter = TileMap.charAt(RemoveTile)
          document.images[RemoveTile + imgoffset].src = "/games/scramble/" + WhichLetter + "0.gif"
          EncodedWord = EncodedWord.substring(0, EncodedWord.length - 1)
          CurrentWord = CurrentWord.substring(0, CurrentWord.length - 1)
          TilesOn = TilesOn.substring(0, TilesOn.length - 1)
          if (CurrentWord.charAt(CurrentWord.length - 1) == 'q') {CurrentWord = CurrentWord.substring(0, CurrentWord.length - 1)}
          LastTile = WhichTile
          LastTileX = TileX
          LastTileY = TileY
        }
      }
    }
  }
}

function click(TileX, TileY) {
  if (GameTime < 0) {return}
  var NewStatus = GameStatus
  WhichTile = TileX * 5 + TileY
  WhichLetter = TileMap.charAt(WhichTile)
  if (GameStatus == 2) {
    CurrentWord = WhichLetter
    EncodedWord = EncodedWord + LookUp.charAt(WhichTile)
    if (WhichLetter == 'q') {CurrentWord = CurrentWord + "u"}
    document.images[WhichTile + imgoffset].src = "/games/scramble/" + WhichLetter + "1.gif"
    LastTile = WhichTile
    LastTileX = TileX
    LastTileY = TileY
    TilesOn = LookUp.charAt(WhichTile)
    NewStatus = 3
  }
  if (GameStatus == 3) {
if (CurrentWord.length >= 3) {
      if (Words.indexOf(CurrentWord) == -1) {
		if (Words.length == 0) {document.scramble.list.value=""}
		Words.push(CurrentWord)
		scoregame()
        //document.scramble.list.value=Words.reverse().join("\n")
        if (NumWords == 0) {NumWords = GameTime}
      }
    }
    clearword(1)
    NewStatus = 2
  }
  GameStatus = NewStatus
}

function scoregame() {
	var score = 0;
	var wordList = <%= @word_list.to_json %>
	var validList = []
	var invalidList = []
	for (i=0; i < Words.length; i++){
		if (wordList.indexOf(Words[i] + "\r\n") != -1){
			if (Words[i].length == 3){
				score += 1
			}
			else if (Words[i].length == 4){
				score += 1
			}
			else if (Words[i].length == 5){
				score += 2
			}
			else if (Words[i].length == 6){
				score += 3
			}
			else if (Words[i].length == 7){
				score += 4
			}
			else{
				score += 11
			}
			validList.push(Words[i])
		}
		else{
			invalidList.push(Words[i])
		}
	}
	links = []

document.scramble.list.value = "Score: " + score + "\n\n" + "Valid Words:\n"  + validList.join("\n") + "\n\n" + "Invalid Words: " + invalidList.join("\n");

}

if (!Array.prototype.forEach)
{
  Array.prototype.forEach = function(fun /*, thisp*/)
  {
    var len = this.length;
    if (typeof fun != "function")
      throw new TypeError();

    var thisp = arguments[1];
    for (var i = 0; i < len; i++)
    {
      if (i in this)
        fun.call(thisp, this[i], i, this);
    }
  };
}
//adding to collection verify that bumps out oldest
//verify that over 125 gives you a error message and verify text
//verify adding content item in relationships tab bumps out
//no items and add content items so over max

function searchWord(element, index, array) {
   document.scramble.list.value = document.scramble.list.value + element.link("http://definitious.com/finds?word=") + "\n"; 
}


//-->
</script>
<div id="scramble">
	<h4>Scramble</h4>
    <td class="menulink" align="Right" valign="Top"><img src="main_data/piece00.gif" align="Right" height="60" width="1"></td>

<center>
<form name="scramble" method="POST" action="r_score_wait.php?minlength=3" target="_top">
  <input name="opponent" value="&nbsp;" type="Hidden">
  <input name="numwords" type="Hidden">
  <input name="words" type="Hidden">
  <table border="0">
  <tr valign="Top"><td class="normallink">
	<div class="top">
<table style="width: 100%; height: 100%;" cellspacing="0" cellpadding="0">
<td style="width: 400px; vertical-align: top;">
<div class="game">
<table class="game-grid" bgcolor="#c8cec4" border="0" cellpadding="8" cellspacing="0">
<tr>
<td><a href="javascript:click(0,0)" onmouseover="slide(0,0)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(0,1)" onmouseover="slide(0,1)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(0,2)" onmouseover="slide(0,2)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(0,3)" onmouseover="slide(0,3)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(0,4)" onmouseover="slide(0,4)"><img src="/games/scramble/00.gif" border="0"></a></td>
</tr><tr>
<td><a href="javascript:click(1,0)" onmouseover="slide(1,0)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(1,1)" onmouseover="slide(1,1)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(1,2)" onmouseover="slide(1,2)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(1,3)" onmouseover="slide(1,3)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(1,4)" onmouseover="slide(1,4)"><img src="/games/scramble/00.gif" border="0"></a></td>
</tr><tr>
<td><a href="javascript:click(2,0)" onmouseover="slide(2,0)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(2,1)" onmouseover="slide(2,1)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(2,2)" onmouseover="slide(2,2)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(2,3)" onmouseover="slide(2,3)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(2,4)" onmouseover="slide(2,4)"><img src="/games/scramble/00.gif" border="0"></a></td>
</tr><tr>
<td><a href="javascript:click(3,0)" onmouseover="slide(3,0)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(3,1)" onmouseover="slide(3,1)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(3,2)" onmouseover="slide(3,2)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(3,3)" onmouseover="slide(3,3)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(3,4)" onmouseover="slide(3,4)"><img src="/games/scramble/00.gif" border="0"></a></td>
</tr><tr>
<td><a href="javascript:click(4,0)" onmouseover="slide(4,0)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(4,1)" onmouseover="slide(4,1)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(4,2)" onmouseover="slide(4,2)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(4,3)" onmouseover="slide(4,3)"><img src="/games/scramble/00.gif" border="0"></a></td>
<td><a href="javascript:click(4,4)" onmouseover="slide(4,4)"><img src="/games/scramble/00.gif" border="0"></a></td>
</tr>
</table>
</div>
</td>
<td style="vertical-align: top;">
<div class="list">
<BODY TEXT=#000000 BGCOLOR=#FFFFFF><TABLE BORDER=0 WIDTH=100%><TR ALIGN=CENTER><TD BGCOLOR=#361377>&nbsp;<B><FONT COLOR=#FFFFFF>Word List</TD></TR><TR><TD BGCOLOR=#F6F6F6 ALIGN=Center>&nbsp;<B>3</B> or more letters&nbsp;</TD></TR></TABLE>
  <textarea name="list" value="" rows="16" cols="10" readonly="readonly"></textarea>
</div>
</td>
</table>
<div class="buttons">
	</div>
<center>
	<input type=button name="button" value="Loading..." onclick="buttonpress()">
	<input type=button name="button2" value="Quit" onclick="quit()">
<input value="3:00" name="timer" size="11" type="Text" readonly="readonly"><br>
<input name="backtrack" value="" type="Hidden"><br>
<b><font color="#1c469a"><a href="javascript:scoregame()">SCORE GAME</a></font></b>
  </center></td></tr></tbody></table>
</form>
 <img src=/games/scramble/a0.gif width=1 height=1>
<img src=/games/scramble/b0.gif width=1 height=1>
<img src=/games/scramble/c0.gif width=1 height=1>
<img src=/games/scramble/d0.gif width=1 height=1>
<img src=/games/scramble/e0.gif width=1 height=1>
<img src=/games/scramble/f0.gif width=1 height=1>
<img src=/games/scramble/g0.gif width=1 height=1>
<img src=/games/scramble/h0.gif width=1 height=1>
<img src=/games/scramble/i0.gif width=1 height=1>
<img src=/games/scramble/j0.gif width=1 height=1>
<img src=/games/scramble/k0.gif width=1 height=1>
<img src=/games/scramble/l0.gif width=1 height=1>
<img src=/games/scramble/m0.gif width=1 height=1>
<img src=/games/scramble/n0.gif width=1 height=1>
<img src=/games/scramble/o0.gif width=1 height=1>
<img src=/games/scramble/p0.gif width=1 height=1>
<img src=/games/scramble/q0.gif width=1 height=1>
<img src=/games/scramble/r0.gif width=1 height=1>
<img src=/games/scramble/s0.gif width=1 height=1>
<img src=/games/scramble/t0.gif width=1 height=1>
<img src=/games/scramble/u0.gif width=1 height=1>
<img src=/games/scramble/v0.gif width=1 height=1>
<img src=/games/scramble/w0.gif width=1 height=1>
<img src=/games/scramble/x0.gif width=1 height=1>
<img src=/games/scramble/y0.gif width=1 height=1>
<img src=/games/scramble/z0.gif width=1 height=1>
<img src=/games/scramble/a1.gif width=1 height=1>
<img src=/games/scramble/b1.gif width=1 height=1>
<img src=/games/scramble/c1.gif width=1 height=1>
<img src=/games/scramble/d1.gif width=1 height=1>
<img src=/games/scramble/e1.gif width=1 height=1>
<img src=/games/scramble/f1.gif width=1 height=1>
<img src=/games/scramble/g1.gif width=1 height=1>
<img src=/games/scramble/h1.gif width=1 height=1>
<img src=/games/scramble/i1.gif width=1 height=1>
<img src=/games/scramble/j1.gif width=1 height=1>
<img src=/games/scramble/k1.gif width=1 height=1>
<img src=/games/scramble/l1.gif width=1 height=1>
<img src=/games/scramble/m1.gif width=1 height=1>
<img src=/games/scramble/n1.gif width=1 height=1>
<img src=/games/scramble/o1.gif width=1 height=1>
<img src=/games/scramble/p1.gif width=1 height=1>
<img src=/games/scramble/q1.gif width=1 height=1>
<img src=/games/scramble/r1.gif width=1 height=1>
<img src=/games/scramble/s1.gif width=1 height=1>
<img src=/games/scramble/t1.gif width=1 height=1>
<img src=/games/scramble/u1.gif width=1 height=1>
<img src=/games/scramble/v1.gif width=1 height=1>
<img src=/games/scramble/w1.gif width=1 height=1>
<img src=/games/scramble/x1.gif width=1 height=1>
<img src=/games/scramble/y1.gif width=1 height=1>
<img src=/games/scramble/z1.gif width=1 height=1>
<br>
To enter a word, click starting letter, slide, click ending letter.
</center></body></html>
</div>
</div>

<% content_for :sidebar do %>

  <div class="section">
    <h3>How points work:</h3>
    <table>
    <tr><td>3 Letters: 1 point</td></tr>
    <tr><td>4 Letters: 1 point</td></tr>
    <tr><td>5 Letters: 2 points</td></tr>
    <tr><td>6 Letters: 3 points</td></tr>
    <tr><td>7 Letters: 4 points</td></tr>
    <tr><td>8 or More Letters: 11 points</td></tr>
    </table><br>
  </div>
<% end %>