<% title "Super Mario Bros. Crossover" %>

<div id="smbc">
<html>
<head>
<%= javascript_include_tag 'swfobject' %>
</head>
<body>
	<script type="text/javascript">
	swfobject.embedSWF("swf/smbc.swf", "flashcontent", "510", "480", "9.0.0");
	</script>
<div id="flashcontent">
  <h1>You need to upgrade your Flash Player or turn on JavaScript</h1>
</div>
</body>
</html>
</div>