<li class="definition">
  <%= render :partial => 'words/definition_stats', :locals => {:definition => definition} %>
  <%=h definition.body %>
  <%= render :partial => 'words/comment_form', :locals => {:definition => definition} %>
</li>