<div class="definition-form">
<% form_for word, :html => { :method => :get }, :url => add_definition_word_path(word) do |f| -%>
  <%= text_area_tag("body", "Add your own definition for #{word.name}...", :onFocus => "if(this.value==this.defaultValue) this.value='';", :onBlur  => "if(this.value=='') this.value=this.defaultValue;", :cols => 40) %>
  <%= select_tag("part_of_speech", options_for_select([nil => "(part of speech)"] + Definition::PARTS_OF_SPEECH)) %>
  <%= f.submit I18n.t("Define!") %>
<% end -%>
</div>