  <%= f.error_messages %>
  
  <p>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :word_name %>
    <%= text_field_with_auto_complete :word, :name, { :size => 15 }, { :url => formatted_words_path(:js), :method => :get, :param_name => 'search' } %>
  </p>

