<li class="result">
  <%= link_to word.name, word, {:class => 'word'} %>
  <% if definition %>
  <ul class="definitions">
    <%= render :partial => 'definitions/definition', :locals => {:definition => definition} %>
  </ul>
  <% end %>
</li>