<div class="result">
  <%= link_to word.name, word, {:class => 'word'} %>
  <% tr = Google::Translate.new %>
  <%#- link_to "(" + tr.translate( :from => "en", :to => "zh-CN", :text => word.name) + ")", word, {:class => 'word'} %>
  <% if definition %>
    <ul class="definitions">
      <%= render :partial => 'definitions/definition', :locals => {:definition => definition} %>
    </ul>
  <% else %>
    <p><%= I18n.t("This word has no definitions! Why don't you add one below?") %></p>
  <% end %>
  <%= render :partial => 'words/definition_form', :locals => {:word => word} %>
</div>