<h1>List of words</h1>

<% cache(:action => 'index', :action_suffix => 'all_words') do %>
  <% if !@words.empty? %>
  <ul>
  <% @words.each do |word| %>
    <li><%= link_to "#{word.name}", word %></li>
  <% end %>
  </ul>
  <% else %>
  <p>There are no words listed.</p>
  <% end %>
<% end %>

<h2>Add a word</h2>
<% form_for @word, :url => { :action => "create" } do |f| -%>
  <%= f.error_messages %>
  <p><%= f.text_field :name %></p>
  <p><%= f.submit 'Create'  %></p>
<% end -%>