<h1><%= I18n.t("Random word") %> (<%= link_to_remote I18n.t("refresh"), :url => random_words_path %>)</h1>

<div id="random_word">
  <%= render :partial => 'words/result', :locals => {:word => @random, :definition => @random_def } %>
</div>
