<h1><%= pluralize(@words.size, "Result") %></h1>

<ol class="names">
<% for word in @words do -%>
  <li class="word">
    <div class="id" style="display:none"><%= word.id %></div>
    <div class="name"><%=h word.name %></div>
  </li>
<% end -%>
</ol>