<% title "About" %>

<div class="info">
<table cellpadding='0' cellspacing='0' id='tablist'>
<tr>
<td id='content'><div class='terms'>
<p>
<u>
<b>
About
</b>
</u>
</p>
<p>
My name is Murtaza Jafferji and I am a student at Brandeis University.
</p>
<p>
Definitious is an online dictionary where you decide how words are defined.
</p>
<p>
On definitious, you can express your knowledge, humor and creativity by writing your own definitions for words. Or, you can search and browse Definitious to explore worlds of meaning for both education and recreation. 
</p>
<p>
Depending on what you're in the mood for, Definitious can provide you with funny, poetic or helpful definitions, so whether you're writing a paper, or you're looking to laugh, Definitious has you covered.
</p>
<p>
Definitious can be used cross-lingually. You can submit a word in any language and define it in any language.
</p>
<p>
Go ahead - search for a word in the box above. If you don't like any of the definitions provided, you can submit your own.
</p>
<p>

<p></p>
<p>
Updated: November 2010
</p>
<p></p>
<p>
Copyright 2010 Definitious
</p>

</div>
</td>
</tr>
</table>
</div>