<% title "Contact" %>

<div class="info">
	<div class="contact">
		<h2>
		Contact
		</h2>
		<p>
		Name: Murtaza Jafferji
		<br>
		Email: murtazajafferji@gmail.com
		<br>
		LinkedIn: <a href="http://www.linkedin.com/in/jafferji">http://www.linkedin.com/in/jafferji</a>
		</p>

		<p>
		Updated: August 2010
		</p>

		<p>
		Copyright 2010 Definitious
		</p>

	</div>
</div>