<% title "Murtaza Jafferji - Resume" %>

<div class="info">
<table cellpadding='0' cellspacing='0' id='tablist'>
<tr>
<td id='content'><div class='resume'>
<p>
<u>
<h2>
Resume
</h2>
</u>
</p>
<p>
Name: Murtaza Jafferji
<br>
Email: murtazajafferji@gmail.com
<br>
LinkedIn: <a href="http://www.linkedin.com/in/jafferji">http://www.linkedin.com/in/jafferji</a>
</p>
<p>

<iframe src= "http://docs.google.com/gview?url=http://definitious.com/files/Jafferji,Murtaza-resume.pdf&embedded=true" style="width:550px; height:730px;"></iframe>

<p></p>
<p>
Updated: November 2010
</p>
<p></p>
<p>
Copyright 2010 Definitious
</p>

</div>
</td>
</tr>
</table>
</div>