<% title "Terms of Service" %>

<div class="info">
<div class='terms'>
	
<h2>Terms of Service</h2>

<p>
Definitious (the "Company") offers definitious.com (the "Website") according to the Terms of Service declared below. The Company reserves the right to modify these terms without notice. Your continued usage of the Website constitutes your acceptance of these terms, available at http://www.definitious.com/terms Violation of any terms may result in removal of your postings and termination of your editor account. Questions about the Terms of Service may be sent to this address: (coming soon)
</p>
<p>

<h1>
Usage Terms
</h1>
</p>
<ol>
<li>Don't name your friends. We'll delete inside jokes and definitions naming non-celebrities.</li>
<li>The Website is not suitable for all audiences. Its content is frequently presented in a coarse and direct manner that some may find offensive. If you do not consider yourself an appropriate user or are offended, please do not visit the Website.</li>
<li>The Website is not intended for children under 13. By using the Website, you are representing that you are at least 18, or that you are at least 13 years old and have your parents' permission to use the Website.</li>
<li>You may not use the Website for any illegal activity or to violate laws in your jurisdiction.</li>
<li>You may not exploit the Website to access unauthorized information.</li>
<li>The Company reserves the right to modify, suspend, or discontinue the Website for any reason, with or without notice.</li>
<li>The Website is provided "as is" and "as available". You assume complete responsibility and risk for your use of the Website. The Company does not warrant that (i) the Website will meet your requirements, (ii) you will be satisfied with the Website, (iii) you will at all times be able to use the Website, (iv) the Website will be without errors, (v) or that any errors will be corrected.</li>

<li>The Company is not responsible for any damages or loss resulting from your use of the Website.</li>
<li>Any failure of the Company to enforce or exercise a right provided in these terms is not a waiver of that right.</li>
<li>Should any provision of this Terms of Service be found invalid or unenforceable, the remaining terms shall still apply.</li>
<li>This Terms of Service constitutes the entire agreement between you and the Company and supersedes any and all previous agreements, written or oral, between you and the Company, including previous versions of the Terms of Service.</li>
</ol>
<p>
<h1>
User Conduct
</h1>
</p>
<ol>
<li>
Users may not post Content (as defined below) that:

<ol>
<li>is unlawful, threatening, libelous or defamatory;</li>
<li>violates any party's intellectual property; or</li>
<li>is detrimental to the quality or intended spirit of the Website.</li>
</ol>
</li>
<li>
Examples of unacceptable Content or behavior on the Website include:
<ol>
<li>abuse, harassment, threats of violence, flaming, intimidation of any person or organization, or any other threatening behavior;</li>
<li>engaging in or contributing to any illegal activity or activity that violates others' rights;</li>
<li>providing information that is false, misleading or inaccurate;</li>

<li>hacking or modifying the Website to falsely imply an association with the Company;</li>
<li>implying or pretending to be affiliated with a company or organization with which you are not affiliated, or misrepresenting the extent of your affiliation or role with an affiliated company or organization; or</li>
<li>disclosing personal or proprietary information of another user, person or organization.</li>
</ol>
</li>
<li>The Company has the right, but not the obligation, to limit or revoke the use privileges or editor account of anyone who posts unacceptable Content.</li>
<li>At any time, the Company can refuse to allow a posting or remove a posting at its sole discretion. However, Definitious is not obligated to restrict or monitor submissions in any way, or to block users who submit inappropriate content.</li>
<li>
By submitting Content, you represent and warrant that such Content:
<ol>
<li>shall not violate the rights of any third party, including, but not limited to, intellectual property and proprietary rights;</li>

<li>shall not be fraudulent or involve counterfeit or stolen information or items;</li>
<li>shall not violate any law, statute, ordinance or regulation; and</li>
<li>shall not create any liability for Definitious or any of its respective parents, subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers and shareholders.</li>
</ol>
</li>
<li>You may not submit Content using unauthorized automated methods ("bots").</li>
<li>
The Company cannot control all Content posted by third parties to the Website, and does not guarantee the accuracy, integrity or quality of such Content. You understand that by using the Website you may be exposed to Content that you may find offensive, indecent, incorrect or objectionable, and you agree that under no circumstances will the Company be liable in any way for any Content, including any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of your use of any Content. If you would like to report objectionable materials, you may use the "Flag for review" feature on any topic or reply. Urgent issues can be reported to this address: (coming soon)
</li>
<li>
Use of the Website is also governed by our Privacy Policy, a copy of which is currently located at http://www.definitious.com/privacy

</li>
</ol>
<p>
<h1>
Editor Account Terms
</h1>
</p>
<p></p>
<ol>
<li>The Company can refuse registration for an editor account at its sole discretion at any time.</li>
<li>You are responsible for using the Website in a private and secure manner. The Company is not liable for any damage or loss due to unauthorized editor account access resulting from your actions, such as sharing your editor account password or not logging out of the Website.</li>
<li>You may not register editor accounts by utilizing bots.</li>
<li>The Company reserves the right to suspend or terminate your editor account at any time for any reason, and is not liable for any damage or loss resulting from such suspension or termination.</li>

</ol>
<p></p>
<p></p>
<p>
<h1>
Copyright and Ownership
</h1>
</p>
<p></p>
<ol>
<li>The Company owns intellectual property rights to any protectable part of the Website, including but not limited to the design, artwork, functionality, and documentation. You may not copy, modify, or reverse engineer any part of the Website owned by the Company.</li>
<li>Any words, definitions, or other information (collectively, "Content") posted on the Website shall remain your sole and exclusive property, and you shall be solely responsible for your Content and the consequences of posting or publishing it.</li>
<li>When you post Content on the Website, you agree to grant the Company an irrevocable, perpetual, worldwide, royalty-free, fully sublicenseable, non-exclusive license to copy, distribute, sell, publicly display, publicly perform and make derivative works of your Content on the Website, on services affiliated with the Website and elsewhere (including but not limited to print, video, audio or computer media), regardless of the form of media used or of whether such media or services now exist or are developed in the future. By posting Content to the Website, you hereby represent and warrant that you have the right to post that Content and to grant the foregoing rights to the Company.</li>
<li>The Company is not liable for any damages or losses resulting from the Website transmitting information such as personal messages over unencrypted networks such as email.</li>

<li>The Company respects the intellectual property of others. It may, in appropriate circumstances and at its discretion, disable and/or terminate the editor accounts of users who repeatedly infringe others' rights.</li>
<li>
If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide the following information to the Company's copyright agent:
<ol>
<li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;</li>
<li>a description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
<li>a description of where the material that you claim is infringing is located on the site;</li>
<li>your address, telephone number, and email address;</li>
<li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
<li>a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright or intellectual property owner or are authorized to act on the copyright or intellectual property owner's behalf.</li>

</ol>
</li>
</ol>
<p>
<h1>
Participation Disclaimer
</h1>
</p>
<p></p>
<ol>

<li>The Company does not and cannot review all Content posted to or created by users accessing the Website, and is not in any manner responsible for the content of these communications or the activities of these users.</li>
<li>You acknowledge that by providing you with the ability to view and distribute user-generated content through the Website, Definitious is merely acting as a passive conduit for the distribution of such information and is not undertaking any obligation or liability relating to the Content or the Website users' activities.</li>
<li>The Company and its respective parents, subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers and shareholders do not undertake or assume any duty to monitor the Website for inappropriate Content.</li>
<li>The Company and its respective parents, subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers and shareholders assume no responsibility or liability which may arise from the Content thereof, including, but not limited to, claims for defamation, libel, slander, infringement, invasion of privacy and publicity rights, obscenity, pornography, profanity, fraud, or misrepresentation.</li>
</ol>

<p>
<h3>Updated: November 2010</h3>
<h3>Copyright <%= Time.now.year %> Definitious</h3>
</p>

</div>
</div>
