<div id="ads">
  <%= yield :ads %>
<!-- Begin BidVertiser code --
<SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=334544&bid=826792" type="text/javascript"></SCRIPT>
<noscript><a href="http://www.bidvertiser.com">affiliate program</a></noscript>
<!-- End BidVertiser code --> 

<iframe src="http://www.facebook.com/plugins/likebox.php?id=142208365795137&amp;width=185&amp;connections=10&amp;stream=true&amp;header=true&amp;height=587" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:185px; height:587px;" allowTransparency="true"></iframe>

</div>