<div id="ads">
  <%= yield :ads %>
<script type="text/javascript"><!--
google_ad_client = "pub-1950707572802374";
/* Google AdSense Content*/
google_ad_slot = "8985557201";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<script type="text/javascript"><!--
google_ad_client = "pub-1950707572802374";
/* Google AdSense Links */
google_ad_slot = "5610542611";
google_ad_width = 120;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>