<div id="sidebar">
  <ul class="section" id="sidebar-nav">
    <li id="whats-hot-button"><%= link_to "What's Hot", hot_definitions_path %></a></li>
    <li id="whats-new-button"><a href="#">What's New</a></li>
  </ul>
  
  <%= yield :sidebar %>
</div>