<div class="section">
  <h2>View top definitions from:</h2>
  <ul id="sidebar-nav">
    <li id="today-button"><%= link_to "Today", hot_definitions_path(:timespan => 1) %></li>
    <li id="this-week-button"><%= link_to "This Week", hot_definitions_path(:timespan => 7) %></li>
    <li id="this-month-button"><%= link_to "This Month", hot_definitions_path(:timespan => 30) %></li>
    <li id="all-time-button"><%= link_to "All Time", hot_definitions_path %></li>
  </ul>
</div>